<!doctype html>

<title>Hello from Flask</title>
{% if name %}
    <h1>Hello {{ name }}!</h1>
{% endif %}

<div id="contact-box">
    <h2> Get In Touch!</h2>
    <form method="post" action="/signup">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" value="" placeholder="Your Name" required="required" autofocus="autofocus" />
        <label for="name">Email: </label>
        <input type="email" id="email" name="email" value="" placeholder="Your Email" required="required" autofocus="autofocus" />
        <input type="submit" value="Submit" id="submit-button" />
    </form>
</div>

<h2>What is the Weather like?</h2>

<button onclick="window.location.href='/weather'">Go to Weather</button>
